In [257]:
import pandas as pd
import numpy as np
df = pd.read_csv("netflix2.csv")
print(df)

                        Name    Year Rating Duration  \
0              The Sea Beast  2022.0     7+   1h 59m
1     Sonic the HedAllehoAll  2020.0     7+   1h 41m
2              Tom and Jerry  2021.0     7+   1h 41m
3           We Can Be Heroes  2020.0     7+   1h 40m
4     STAND BY ME Doraemon 2  2020.0     7+   1h 37m
...                      ...     ...    ...      ...
8855                 Zinzana  2015.0    10+   90 min
8856                  Zodiac  2007.0    18+  131 min
8857              Zombieland  2009.0    18+  114 min
8858                    Zoom  2006.0    15+  107 min
8859                  Zubaan  2015.0    14+   97 min

                                          CateAllory
0                               Kids & Family Movies
1                               Kids & Family Movies
2                               Kids & Family Movies
3                               Kids & Family Movies
4                               Kids & Family Movies
...                                              ...
8855         Dramas, International Movies, Thrillers
8856                  Cult Movies, Dramas, Thrillers
8857                         Comedies, Horror Movies
8858              Children & Family Movies, Comedies
8859  Dramas, International Movies, Music & Musicals

[8860 rows x 5 columns]

In [258]:
df["Rating"]=df["Rating"].str.replace("+","")
df

C:\Users\Benjamin\AppData\Local\Temp\ipykernel_6880\1323434741.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Rating"]=df["Rating"].str.replace("+","")

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1h 59m,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1h 41m,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1h 41m,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1h 40m,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1h 37m,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 min,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 min,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 min,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 min,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 min,"Dramas, International Movies, Music & Musicals"

In [259]:
# df["Rating"]=df["Rating"].str.replace("+","")
# df

In [260]:
# df.dropna(inplace=True)
# #axis='index'
# df

In [261]:
df["Duration"]=df["Duration"].str.replace("h","")

# df["Duration"]=df["Duration"].str.replace(" ", "")

# df["Duration"]=df["Duration"].str.replace("h","")

df

# mouse_clean_data= mouse_study_complete.drop(mouse_study_complete[mouse_study_complete['Mouse ID']=='g989'].index)

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59m,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41m,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41m,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40m,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37m,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 min,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 min,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 min,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 min,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 min,"Dramas, International Movies, Music & Musicals"

In [262]:
df["Duration"]=df["Duration"].str.replace("m","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [263]:
df["Duration"]=df["Duration"].str.replace("min","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [264]:
df["Duration"]=df["Duration"].str.replace(" in","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97,"Dramas, International Movies, Music & Musicals"

In [265]:
# list to distringuish which durations are in hour, min - and which are only in min
duration_condition = pd.DataFrame(df['Duration'].str.contains(' '))

# loops through df, splits Duration column if in hour, min - otherwise just put duration in minutes
for i in range(len(df)):
    if (duration_condition.loc[i,'Duration'] == True):
        # df.loc[i,['Hour', 'Min']] = df.loc[i,'Duration'].str.split(' ', expand=True)
        df.loc[i,['Hour', 'Min']] = df.loc[i,'Duration'].split()
    else:
        df.loc[i,'Min'] = df.loc[i,'Duration']
        df.loc[i,'Hour'] = str(0)
        
df

,Name,Year,Rating,Duration,CateAllory,Hour,Min
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies,1,59
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies,1,41
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies,1,41
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies,1,40
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies,1,37
...,...,...,...,...,...,...,...
8855,Zinzana,2015.0,10,90,"Dramas, International Movies, Thrillers",0,90
8856,Zodiac,2007.0,18,131,"Cult Movies, Dramas, Thrillers",0,131
8857,Zombieland,2009.0,18,114,"Comedies, Horror Movies",0,114
8858,Zoom,2006.0,15,107,"Children & Family Movies, Comedies",0,107
8859,Zubaan,2015.0,14,97,"Dramas, International Movies, Music & Musicals",0,97

In [266]:
df.dropna(inplace=True)
# #axis='index'
df

,Name,Year,Rating,Duration,CateAllory,Hour,Min
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies,1,59
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies,1,41
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies,1,41
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies,1,40
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies,1,37
...,...,...,...,...,...,...,...
8855,Zinzana,2015.0,10,90,"Dramas, International Movies, Thrillers",0,90
8856,Zodiac,2007.0,18,131,"Cult Movies, Dramas, Thrillers",0,131
8857,Zombieland,2009.0,18,114,"Comedies, Horror Movies",0,114
8858,Zoom,2006.0,15,107,"Children & Family Movies, Comedies",0,107
8859,Zubaan,2015.0,14,97,"Dramas, International Movies, Music & Musicals",0,97

In [267]:
df['Year'] = pd.to_numeric(df['Year'])
# df['Year'].astype(int)
df['Year'] = df['Year'].round().astype('Int64')

df['Year'].unique()

<IntegerArray>
[2022, 2020, 2021, 2019, 2016, 2010, 2008, 1996, 2015, 2005, 2011, 2017, 2004,
 2018, 2006, 2012, 2001, 1999, 2009, 1994, 1986, 2014, 2007, 2013, 1988, 1989,
 1995, 2002, 1991, 1984, 2003, 1993, 1998, 1980, 1997, 2000, 1961, 1963, 1975,
 1981, 1982, 1985, 1990, 1992, 1958, 1978, 1983, 1979, 1954, 1977, 1987, 1976,
 1959, 1972, 1964, 1956, 1970, 1973, 1960, 1974, 1966, 1971, 1962, 1969, 1967,
 1968, 1965, 1945, 1946, 1942, 1955, 1944, 1947, 1943]
Length: 74, dtype: Int64

In [268]:
df['Hour'] = pd.to_numeric(df['Hour'])
df.dtypes

Name          object
Year           Int64
Rating        object
Duration      object
CateAllory    object
Hour           int64
Min           object
dtype: object

In [269]:
df= df.drop(df[df['Min']=='Season'].index)
df= df.drop(df[df['Min']==''].index)
df

,Name,Year,Rating,Duration,CateAllory,Hour,Min
0,The Sea Beast,2022,7,1 59,Kids & Family Movies,1,59
1,Sonic the HedAllehoAll,2020,7,1 41,Kids & Family Movies,1,41
2,Tom and Jerry,2021,7,1 41,Kids & Family Movies,1,41
3,We Can Be Heroes,2020,7,1 40,Kids & Family Movies,1,40
4,STAND BY ME Doraemon 2,2020,7,1 37,Kids & Family Movies,1,37
...,...,...,...,...,...,...,...
8855,Zinzana,2015,10,90,"Dramas, International Movies, Thrillers",0,90
8856,Zodiac,2007,18,131,"Cult Movies, Dramas, Thrillers",0,131
8857,Zombieland,2009,18,114,"Comedies, Horror Movies",0,114
8858,Zoom,2006,15,107,"Children & Family Movies, Comedies",0,107
8859,Zubaan,2015,14,97,"Dramas, International Movies, Music & Musicals",0,97

In [270]:
df['Min'] = pd.to_numeric(df['Min'])
df.dtypes

Name          object
Year           Int64
Rating        object
Duration      object
CateAllory    object
Hour           int64
Min            int64
dtype: object

In [271]:
df['Total Duration'] = df['Hour']*60 + df['Min']
df

,Name,Year,Rating,Duration,CateAllory,Hour,Min,Total Duration
0,The Sea Beast,2022,7,1 59,Kids & Family Movies,1,59,119
1,Sonic the HedAllehoAll,2020,7,1 41,Kids & Family Movies,1,41,101
2,Tom and Jerry,2021,7,1 41,Kids & Family Movies,1,41,101
3,We Can Be Heroes,2020,7,1 40,Kids & Family Movies,1,40,100
4,STAND BY ME Doraemon 2,2020,7,1 37,Kids & Family Movies,1,37,97
...,...,...,...,...,...,...,...,...
8855,Zinzana,2015,10,90,"Dramas, International Movies, Thrillers",0,90,90
8856,Zodiac,2007,18,131,"Cult Movies, Dramas, Thrillers",0,131,131
8857,Zombieland,2009,18,114,"Comedies, Horror Movies",0,114,114
8858,Zoom,2006,15,107,"Children & Family Movies, Comedies",0,107,107
8859,Zubaan,2015,14,97,"Dramas, International Movies, Music & Musicals",0,97,97

In [272]:
df_final = df.drop_duplicates(subset='Name', keep=False)
df_final

,Name,Year,Rating,Duration,CateAllory,Hour,Min,Total Duration
40,Inside the Mind of a Cat,2022,7,1 7,Kids & Family Movies,1,7,67
45,Larva Pendant,2022,7,33,Kids & Family Movies,0,33,33
47,My Little Pony: A New Alleneration: SinAll-Alo...,2022,7,1 30,Kids & Family Movies,1,30,90
48,Chip and Potato: Chip’s Holiday,2022,All,24,Kids & Family Movies,0,24,24
50,Rescued by Ruby,2022,7,1 33,Kids & Family Movies,1,33,93
...,...,...,...,...,...,...,...,...
8854,Zenda,2009,10,93,"Dramas, International Movies",0,93,93
8855,Zinzana,2015,10,90,"Dramas, International Movies, Thrillers",0,90,90
8857,Zombieland,2009,18,114,"Comedies, Horror Movies",0,114,114
8858,Zoom,2006,15,107,"Children & Family Movies, Comedies",0,107,107
8859,Zubaan,2015,14,97,"Dramas, International Movies, Music & Musicals",0,97,97

In [273]:
df_cleaned = df_final[['Name','Year','Rating','CateAllory','Total Duration']]
df_cleaned.rename(columns = {'CateAllory':'Category','Total Duration':'Duration (Min)'},inplace=True)
df_cleaned

C:\Users\Benjamin\AppData\Local\Temp\ipykernel_6880\1404309841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns = {'CateAllory':'Category','Total Duration':'Duration (Min)'},inplace=True)

,Name,Year,Rating,Category,Duration (Min)
40,Inside the Mind of a Cat,2022,7,Kids & Family Movies,67
45,Larva Pendant,2022,7,Kids & Family Movies,33
47,My Little Pony: A New Alleneration: SinAll-Alo...,2022,7,Kids & Family Movies,90
48,Chip and Potato: Chip’s Holiday,2022,All,Kids & Family Movies,24
50,Rescued by Ruby,2022,7,Kids & Family Movies,93
...,...,...,...,...,...
8854,Zenda,2009,10,"Dramas, International Movies",93
8855,Zinzana,2015,10,"Dramas, International Movies, Thrillers",90
8857,Zombieland,2009,18,"Comedies, Horror Movies",114
8858,Zoom,2006,15,"Children & Family Movies, Comedies",107
8859,Zubaan,2015,14,"Dramas, International Movies, Music & Musicals",97

In [274]:
df_cleaned.to_csv("netflix_clean.csv",encoding='utf-8')

In [249]:
# df_cleaned.loc[df_cleaned['Category']
# pd.DataFrame(df['Duration'].str.contains(' '))

df_comedy = df_cleaned.loc[(df_cleaned['Category'].str.contains('Come') == True),:]
# df_comedy['Category'].nunique()
df_comedy

,Name,Year,Rating,Category,Duration (Min)
494,Meet the Parents,2000,13,Comedies,108
512,Lethal Weapon 4,1998,18,Comedies,127
513,Anchorman 2: The LeAllend Continues,2013,16,Comedies,113
680,BørninAll 3: Asphalt BurninAll,2020,13,Comedies,100
704,Office Invasion,2022,18,Comedies,112
...,...,...,...,...,...
8849,YounAll Adult,2011,All,"Comedies, Dramas, Independent Movies",89
8851,"Yours, Mine and Ours",2005,18,"Children & Family Movies, Comedies",108
8853,Zed Plus,2014,10,"Comedies, Dramas, International Movies",87
8857,Zombieland,2009,18,"Comedies, Horror Movies",114
8858,Zoom,2006,15,"Children & Family Movies, Comedies",107

In [256]:
# df_cleaned.loc[((len(df_cleaned['Category']) >= 20) == True), :]
df_cleaned.loc[(len(df_cleaned['Category']) >= 20), :]

KeyError: 'True: boolean label can not be used without a boolean index'

In [242]:
df_cleaned['Category'].unique()

array(['Kids & Family Movies', 'Teen Movies', 'Romantic Movies',
       'Thriller Movies', 'Movies Based on Books', 'Action & Adventure',
       'Military Movies', 'Comedies', 'Movies Based on Real Life',
       'Hindi-LanAlluaAlle Movies', 'Chinese Movies', 'Horror Movies',
       'Sci-Fi Movies', 'Anime Movies', 'Documentary Films', 'Dramas',
       'Crime Movies', 'Spy Movies', 'Sports Movies',
       'Martial Arts Movies', 'Middle Eastern Movies', 'Period Pieces',
       'TeluAllu-LanAlluaAlle Movies', 'Social Issue Dramas',
       'Family Movies', 'Musicals', 'Tamil-LanAlluaAlle Movies',
       'Stand-Up Comedy', 'African Movies', 'US Movies',
       'Nature & EcoloAlly Documentaries', 'Science & Nature Docs',
       'Music', 'Food & Travel TV', 'Hip-Hop', 'Science & Nature TV',
       'Concerts', 'Documentaries',
       'Dramas, Independent Movies, International Movies',
       'Documentaries, International Movies',
       'Comedies, International Movies, Romantic Movies',
       'Comedies, International Movies, Music & Musicals',
       'Horror Movies, Sci-Fi & Fantasy', 'Thrillers',
       'Action & Adventure, Dramas',
       'Action & Adventure, Classic Movies, Dramas',
       'Dramas, Horror Movies, Thrillers',
       'Action & Adventure, Horror Movies, Thrillers',
       'Dramas, Thrillers',
       'Action & Adventure, Anime Features, International Movies',
       'Comedies, Dramas, International Movies',
       'Children & Family Movies', 'Sci-Fi & Fantasy, Thrillers',
       'Children & Family Movies, Comedies',
       'Documentaries, Music & Musicals',
       'Dramas, International Movies, Thrillers',
       'Children & Family Movies, Dramas', 'Dramas, Romantic Movies',
       'Dramas, International Movies, Romantic Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'Action & Adventure, Comedies', 'Classic Movies, Comedies, Dramas',
       'Action & Adventure, Sci-Fi & Fantasy', 'Comedies, Cult Movies',
       'Comedies, Cult Movies, Music & Musicals',
       'Comedies, Music & Musicals',
       'Action & Adventure, Children & Family Movies, Cult Movies',
       'Comedies, Dramas, Romantic Movies', 'Comedies, Romantic Movies',
       'Comedies, Cult Movies, Sci-Fi & Fantasy',
       'Classic Movies, Dramas',
       'Action & Adventure, Children & Family Movies, Comedies',
       'Dramas, Faith & Spirituality', 'Documentaries, LAllBTQ Movies',
       'Comedies, International Movies', 'Dramas, Independent Movies',
       'Action & Adventure, International Movies, Music & Musicals',
       'Horror Movies, International Movies',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Independent Movies, Romantic Movies',
       'Dramas, International Movies', 'Comedies, Independent Movies',
       'Classic Movies, Dramas, Independent Movies',
       'Comedies, Dramas, Independent Movies',
       'International Movies, Music & Musicals',
       'Comedies, Cult Movies, International Movies',
       'Classic Movies, Dramas, International Movies', 'Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Classic Movies, Comedies, Cult Movies',
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Children & Family Movies, Comedies, Dramas',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'Dramas, Sports Movies',
       'Action & Adventure, Comedies, Cult Movies',
       'Dramas, Independent Movies, Thrillers',
       'Action & Adventure, International Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Children & Family Movies, Sports Movies',
       'Action & Adventure, Dramas, Romantic Movies',
       'Documentaries, International Movies, Music & Musicals',
       'Children & Family Movies, Comedies, Sports Movies',
       'Documentaries, Sports Movies',
       'Comedies, Documentaries, International Movies',
       'International Movies, Romantic Movies',
       'Action & Adventure, Cult Movies, International Movies',
       'Action & Adventure, Thrillers',
       'Dramas, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Comedies', 'Comedies, Dramas',
       'Action & Adventure, Comedies, Sports Movies',
       'Horror Movies, Thrillers', 'Action & Adventure, Romantic Movies',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Dramas, Music & Musicals, Romantic Movies',
       'International Movies, Music & Musicals, Romantic Movies',
       'Comedies, Horror Movies', 'International Movies, Thrillers',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       'Children & Family Movies, Documentaries, International Movies',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'Dramas, Independent Movies, LAllBTQ Movies',
       'Comedies, Independent Movies, LAllBTQ Movies',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Cult Movies, Horror Movies',
       'Action & Adventure, Dramas, Sports Movies',
       'Action & Adventure, Dramas, International Movies',
       'Dramas, International Movies, LAllBTQ Movies',
       'Action & Adventure, Classic Movies',
       'Dramas, Romantic Movies, Thrillers',
       'Dramas, International Movies, Sports Movies',
       'Dramas, International Movies, Music & Musicals',
       'Documentaries, International Movies, LAllBTQ Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies, International Movies',
       'Independent Movies, Thrillers', 'Documentaries, Dramas',
       'Action & Adventure, Sports Movies',
       'Action & Adventure, Horror Movies',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Action & Adventure, Comedies, Dramas',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Horror Movies, Romantic Movies, Sci-Fi & Fantasy',
       'Cult Movies, Dramas, Music & Musicals',
       'Children & Family Movies, Music & Musicals',
       'Classic Movies, Music & Musicals', 'Dramas, Music & Musicals',
       'Documentaries, International Movies, Sports Movies',
       'Children & Family Movies, Sci-Fi & Fantasy',
       'Comedies, International Movies, LAllBTQ Movies',
       'Dramas, Sci-Fi & Fantasy',
       'Comedies, Romantic Movies, Sports Movies',
       'Action & Adventure, Comedies, International Movies',
       'Dramas, LAllBTQ Movies',
       'Action & Adventure, Dramas, Faith & Spirituality',
       'Children & Family Movies, Dramas, International Movies',
       'Action & Adventure, Comedies, Independent Movies',
       'Music & Musicals', 'Dramas, Independent Movies, Sports Movies',
       'Comedies, LAllBTQ Movies, Music & Musicals',
       'Children & Family Movies, Documentaries',
       'Music & Musicals, Romantic Movies',
       'Children & Family Movies, Classic Movies, Comedies',
       'Dramas, LAllBTQ Movies, Romantic Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'Comedies, Sports Movies', 'International Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'Comedies, Dramas, Music & Musicals',
       'Action & Adventure, International Movies, Romantic Movies',
       'Cult Movies, Dramas, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy, Sports Movies',
       'Anime Features, International Movies',
       'Documentaries, Faith & Spirituality, International Movies',
       'LAllBTQ Movies, Thrillers',
       'Children & Family Movies, Dramas, Independent Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'Anime Features, Children & Family Movies',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Anime Features, Children & Family Movies',
       'Children & Family Movies, Comedies, International Movies',
       'International Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Dramas, Music & Musicals',
       'Action & Adventure, Independent Movies, International Movies',
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'Dramas, Independent Movies, Music & Musicals',
       'Children & Family Movies, Dramas, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',
       'Action & Adventure, Comedies, Romantic Movies',
       'Horror Movies, Independent Movies',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Action & Adventure, Independent Movies',
       'Anime Features, Romantic Movies',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'Comedies, International Movies, Thrillers',
       'Anime Features, Music & Musicals',
       'Horror Movies, Independent Movies, Thrillers',
       'Documentaries, Stand-Up Comedy',
       'Children & Family Movies, Comedies, LAllBTQ Movies',
       'International Movies, Music & Musicals, Thrillers',
       'Horror Movies, Independent Movies, International Movies',
       'Action & Adventure, International Movies, Sports Movies',
       'Comedies, Music & Musicals, Sports Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'Music & Musicals, Stand-Up Comedy',
       'Cult Movies, Horror Movies, Independent Movies',
       'Comedies, Documentaries',
       'Independent Movies, International Movies, Thrillers',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'Action & Adventure, Anime Features, Classic Movies',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'Comedies, International Movies, Sports Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Documentaries, Faith & Spirituality',
       'Anime Features, Children & Family Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Comedies, Dramas, Faith & Spirituality',
       'Comedies, Independent Movies, Music & Musicals',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, Independent Movies',
       'Documentaries, Dramas, International Movies',
       'Children & Family Movies, Comedies, Cult Movies',
       'Comedies, Dramas, LAllBTQ Movies',
       'Dramas, Romantic Movies, Sports Movies', 'Sci-Fi & Fantasy',
       'Comedies, LAllBTQ Movies',
       'Comedies, Independent Movies, Thrillers',
       'Classic Movies, Cult Movies, Dramas',
       'Action & Adventure, Children & Family Movies, Independent Movies',
       'Action & Adventure, Documentaries, International Movies',
       'Children & Family Movies, Independent Movies',
       'Comedies, Cult Movies, Dramas', 'Classic Movies, Thrillers',
       'Documentaries, LAllBTQ Movies, Music & Musicals',
       'Classic Movies, Dramas, Romantic Movies',
       'Classic Movies, Cult Movies, Horror Movies',
       'Children & Family Movies, Classic Movies',
       'Classic Movies, Comedies, International Movies',
       'Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Cult Movies, Dramas',
       'Documentaries, Faith & Spirituality, Music & Musicals',
       'Action & Adventure, Horror Movies, International Movies',
       'International Movies, Sports Movies',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'Children & Family Movies, Comedies, Faith & Spirituality',
       'Classic Movies, Dramas, Music & Musicals',
       'Cult Movies, Horror Movies, Thrillers',
       'Action & Adventure, Classic Movies, Sci-Fi & Fantasy',
       'Classic Movies, Comedies, Music & Musicals', 'Independent Movies',
       'Documentaries, Horror Movies',
       'Comedies, Faith & Spirituality, International Movies',
       'Dramas, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Comedies, Cult Movies, Sports Movies',
       'Comedies, Horror Movies, International Movies',
       'Classic Movies, Documentaries',
       'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies',
       'Comedies, Horror Movies, Independent Movies', 'Anime Features',
       'Action & Adventure, Horror Movies, Independent Movies',
       'Action & Adventure, Classic Movies, International Movies',
       'Cult Movies, Independent Movies, Thrillers',
       'Classic Movies, Cult Movies, Documentaries',
       'Classic Movies, Dramas, LAllBTQ Movies',
       'Classic Movies, Dramas, Sports Movies',
       'Action & Adventure, Cult Movies',
       'Action & Adventure, Comedies, Music & Musicals',
       'Classic Movies, Horror Movies, Thrillers',
       'Classic Movies, Comedies, Independent Movies',
       'Children & Family Movies, Classic Movies, Dramas',
       'Dramas, Faith & Spirituality, Sports Movies',
       'Classic Movies, Comedies, Romantic Movies',
       'Dramas, Horror Movies, Music & Musicals',
       'Classic Movies, Independent Movies, Thrillers',
       'Children & Family Movies, Faith & Spirituality',
       'Classic Movies, Comedies, Sports Movies',
       'Comedies, Dramas, Sports Movies',
       'Action & Adventure, Romantic Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, LAllBTQ Movies',
       'Comedies, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Comedies, Horror Movies',
       'Action & Adventure, Documentaries, Sports Movies',
       'International Movies, LAllBTQ Movies, Romantic Movies'],
      dtype=object)