In [62]:
import pandas as pd
import numpy as np
df = pd.read_csv("netflix2.csv")
print(df)

                        Name    Year Rating Duration  \
0              The Sea Beast  2022.0     7+   1h 59m
1     Sonic the HedAllehoAll  2020.0     7+   1h 41m
2              Tom and Jerry  2021.0     7+   1h 41m
3           We Can Be Heroes  2020.0     7+   1h 40m
4     STAND BY ME Doraemon 2  2020.0     7+   1h 37m
...                      ...     ...    ...      ...
8855                 Zinzana  2015.0    10+   90 min
8856                  Zodiac  2007.0    18+  131 min
8857              Zombieland  2009.0    18+  114 min
8858                    Zoom  2006.0    15+  107 min
8859                  Zubaan  2015.0    14+   97 min

                                          CateAllory
0                               Kids & Family Movies
1                               Kids & Family Movies
2                               Kids & Family Movies
3                               Kids & Family Movies
4                               Kids & Family Movies
...                                              ...
8855         Dramas, International Movies, Thrillers
8856                  Cult Movies, Dramas, Thrillers
8857                         Comedies, Horror Movies
8858              Children & Family Movies, Comedies
8859  Dramas, International Movies, Music & Musicals

[8860 rows x 5 columns]

In [67]:
df["Rating"]=df["Rating"].str.replace("+","")
df

C:\Users\sugar\AppData\Local\Temp\ipykernel_4132\1323434741.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Rating"]=df["Rating"].str.replace("+","")

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [68]:
df.dropna(axis='rows')
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [69]:
df["Duration"]=df["Duration"].str.replace("h","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [70]:
df["Duration"]=df["Duration"].str.replace("m","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [71]:
df["Duration"]=df["Duration"].str.replace("min","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90 in,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131 in,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114 in,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107 in,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97 in,"Dramas, International Movies, Music & Musicals"

In [72]:
df["Duration"]=df["Duration"].str.replace("in","")
df

,Name,Year,Rating,Duration,CateAllory
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies
...,...,...,...,...,...
8855,Zinzana,2015.0,10,90,"Dramas, International Movies, Thrillers"
8856,Zodiac,2007.0,18,131,"Cult Movies, Dramas, Thrillers"
8857,Zombieland,2009.0,18,114,"Comedies, Horror Movies"
8858,Zoom,2006.0,15,107,"Children & Family Movies, Comedies"
8859,Zubaan,2015.0,14,97,"Dramas, International Movies, Music & Musicals"

In [73]:
df[['Hour', 'Min']] = df['Duration'].str.split(' ', expand=True)
df.head()

,Name,Year,Rating,Duration,CateAllory,Hour,Min
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies,1,59
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies,1,41
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies,1,41
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies,1,40
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies,1,37

In [75]:
df['Hour'].astype(float)
df

,Name,Year,Rating,Duration,CateAllory,Hour,Min
0,The Sea Beast,2022.0,7,1 59,Kids & Family Movies,1,59
1,Sonic the HedAllehoAll,2020.0,7,1 41,Kids & Family Movies,1,41
2,Tom and Jerry,2021.0,7,1 41,Kids & Family Movies,1,41
3,We Can Be Heroes,2020.0,7,1 40,Kids & Family Movies,1,40
4,STAND BY ME Doraemon 2,2020.0,7,1 37,Kids & Family Movies,1,37
...,...,...,...,...,...,...,...
8855,Zinzana,2015.0,10,90,"Dramas, International Movies, Thrillers",90,
8856,Zodiac,2007.0,18,131,"Cult Movies, Dramas, Thrillers",131,
8857,Zombieland,2009.0,18,114,"Comedies, Horror Movies",114,
8858,Zoom,2006.0,15,107,"Children & Family Movies, Comedies",107,
8859,Zubaan,2015.0,14,97,"Dramas, International Movies, Music & Musicals",97,

In [76]:
df['Min'].astype(float)
df

ValueError: could not convert string to float: 'Season'